.pagination {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.pages {
  min-width: 700px;
  list-style: none;
  padding-top: 20px;
}

a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.pagination a:hover:not(.active) {
  background-color: #04d3d9;
  color: white;
}
